*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:black;
    color:white;
    font-family:tahoma;
    overflow:hidden;
    height:100vh;
}

/* پس زمینه */
.background{
    position:fixed;
    inset:0;
    background:radial-gradient(circle at top,#2b1a00,#000 70%);
    z-index:-5;
}

/* صحنه ها */
.scene{
    position:absolute;
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    opacity:0;
    transform:scale(1.1);
    transition:1s ease;
}

.scene.active{
    opacity:1;
    transform:scale(1);
}

/* عنوان */
.title{
    font-size:70px;
    color:gold;
    text-shadow:0 0 30px gold;
    animation:pulse 2s infinite;
}

/* متن بزرگ */
.big-text{
    font-size:50px;
    color:#ffd700;
    text-shadow:0 0 20px gold;
}

/* متن داستان */
.story{
    font-size:22px;
    width:70%;
    line-height:2;
    margin-top:20px;
    color:#ddd;
    min-height:80px;
}

/* دکمه */
button{
    margin-top:30px;
    padding:15px 40px;
    border:none;
    border-radius:40px;
    background:gold;
    cursor:pointer;
    font-size:18px;
    transition:.3s;
}

button:hover{
    transform:scale(1.1);
    box-shadow:0 0 30px gold;
}

/* ستاره */
.star{
    position:fixed;
    width:3px;
    height:3px;
    background:gold;
    border-radius:50%;
    animation:blink 2s infinite;
}

/* قلب */
.heart{
    position:fixed;
    color:pink;
    animation:float 6s linear forwards;
}

/* انیمیشن */
@keyframes pulse{
    0%{transform:scale(1);}
    50%{transform:scale(1.05);}
    100%{transform:scale(1);}
}

@keyframes float{
    from{transform:translateY(0);}
    to{transform:translateY(-120vh);}
}

@keyframes blink{
    from{opacity:.2;}
    to{opacity:1;}
}
body::before{
    content:"";
    position:fixed;
    inset:0;
    background:radial-gradient(circle at center, rgba(255,215,0,0.08), transparent 60%);
    animation:lightMove 6s infinite alternate;
    pointer-events:none;
}

@keyframes lightMove{
    from{transform:scale(1);}
    to{transform:scale(1.2);}
}

/* کنترل موزیک */
.music-control{
    position:fixed;
    top:20px;
    left:20px;
    width:50px;
    height:50px;
    border-radius:50%;
    background:rgba(255,215,0,0.2);
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    font-size:22px;
    backdrop-filter:blur(10px);
    transition:.3s;
    z-index:1000;
}

.music-control:hover{
    transform:scale(1.1);
    background:rgba(255,215,0,0.4);
}
