*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#000;

overflow:hidden;

height:100vh;

font-family:Tahoma;

display:flex;

justify-content:center;

align-items:center;

color:white;

}

.background{

position:fixed;

width:100%;

height:100%;

background:radial-gradient(circle,#111,#000);

z-index:-5;

}

.container{

text-align:center;

}

.top-text{

color:#d4af37;

font-size:22px;

margin-bottom:20px;

letter-spacing:2px;

}

.title{

font-size:70px;

color:#FFD700;

text-shadow:

0 0 10px gold,

0 0 25px gold,

0 0 45px gold;

animation:glow 2s infinite alternate;

}

.subtitle{

margin-top:25px;

font-size:22px;

line-height:2;

color:#ddd;

}

button{

margin-top:40px;

padding:15px 40px;

border:none;

border-radius:40px;

background:gold;

font-size:20px;

cursor:pointer;

transition:.4s;

}

button:hover{

transform:scale(1.1);

box-shadow:0 0 30px gold;

}

@keyframes glow{

from{

text-shadow:0 0 10px gold;

}

to{

text-shadow:0 0 45px gold;

}

}
